<div>
    <h2 id="page-heading">
        <span>Usuarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/usuario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nickname</span></th>
            <th><span>Status</span></th>
            <th><span>Borrado</span></th>
            <th><span>Tag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['/usuario', usuario.id, 'view' ]">{{usuario.id}}</a></td>
                <td>{{usuario.nickname}}</td>
                <td>{{usuario.status}}</td>
                <td>{{usuario.borrado}}</td>
                <td>
                    <span *ngFor="let tag of usuario.tags; let last = last">
                            <a class="form-control-static" [routerLink]="['../tag', tag?.id, 'view' ]">{{tag.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'usuario', { outlets: { popup: usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
