<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span>Usuario</span> {{usuario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nickname</span></dt>
                <dd>
                    <span>{{usuario.nickname}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{usuario.status}}</span>
                </dd>
                <dt><span>Borrado</span></dt>
                <dd>
                    <span>{{usuario.borrado}}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of usuario.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
