<div>
    <h2 id="page-heading">
        <span>Like Posts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-like-post" [routerLink]="['/like-post/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Like Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="likePosts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Like</span></th>
            <th><span>Usuario</span></th>
            <th><span>Post</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let likePost of likePosts ;trackBy: trackId">
                <td><a [routerLink]="['/like-post', likePost.id, 'view' ]">{{likePost.id}}</a></td>
                <td>{{likePost.like}}</td>
                <td>
                    <div *ngIf="likePost.usuario">
                        <a [routerLink]="['../usuario', likePost.usuario?.id, 'view' ]" >{{likePost.usuario?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="likePost.post">
                        <a [routerLink]="['../post', likePost.post?.id, 'view' ]" >{{likePost.post?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/like-post', likePost.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/like-post', likePost.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'like-post', { outlets: { popup: likePost.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
