<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-like-post-heading">Create or edit a Like Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!likePost.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="likePost.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_like">Like</label>
                    <input type="checkbox" class="form-control" name="like" id="field_like"
                        [(ngModel)]="likePost.like" />
                    <div [hidden]="!(editForm.controls.like?.dirty && editForm.controls.like?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.like?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="likePost.usuario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id === likePost.usuario?.id ? likePost.usuario : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="likePost.post" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id === likePost.post?.id ? likePost.post : postOption" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
