<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="likePost">
            <h2><span>Like Post</span> {{likePost.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Like</span></dt>
                <dd>
                    <span>{{likePost.like}}</span>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    <div *ngIf="likePost.usuario">
                        <a [routerLink]="['/usuario', likePost.usuario?.id, 'view']">{{likePost.usuario?.id}}</a>
                    </div>
                </dd>
                <dt><span>Post</span></dt>
                <dd>
                    <div *ngIf="likePost.post">
                        <a [routerLink]="['/post', likePost.post?.id, 'view']">{{likePost.post?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/like-post', likePost.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
