<div>
    <h2 id="page-heading">
        <span>Posts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Text</span></th>
            <th><span>Status</span></th>
            <th><span>Imagen</span></th>
            <th><span>Timestamp</span></th>
            <th><span>Tag</span></th>
            <th><span>Usuario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts ;trackBy: trackId">
                <td><a [routerLink]="['/post', post.id, 'view' ]">{{post.id}}</a></td>
                <td>{{post.title}}</td>
                <td>{{post.text}}</td>
                <td>{{post.status}}</td>
                <td>{{post.imagen}}</td>
                <td>{{post.timestamp | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="post.tag">
                        <a [routerLink]="['../tag', post.tag?.id, 'view' ]" >{{post.tag?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="post.usuario">
                        <a [routerLink]="['../usuario', post.usuario?.id, 'view' ]" >{{post.usuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/post', post.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/post', post.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'post', { outlets: { popup: post.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
