<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span>Post</span> {{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{post.title}}</span>
                </dd>
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{post.text}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{post.status}}</span>
                </dd>
                <dt><span>Imagen</span></dt>
                <dd>
                    <span>{{post.imagen}}</span>
                </dd>
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{post.timestamp}}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <div *ngIf="post.tag">
                        <a [routerLink]="['/tag', post.tag?.id, 'view']">{{post.tag?.id}}</a>
                    </div>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    <div *ngIf="post.usuario">
                        <a [routerLink]="['/usuario', post.usuario?.id, 'view']">{{post.usuario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
